# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Models
outputs/models/*.h5
outputs/models/*.keras

# Dataset
data/raw/*
data/processed/*

# OS
.DS_Store
Thumbs.db